<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "Contact List App" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <!-- Adicione isso dentro da seção <head> do seu HTML -->
    <script>
      const apiKey = "<%= ENV['GOOGLE_MAPS_API_KEY'] %>";
    </script>

      
  </head>

  <body class="prose mx-auto">
    <%= render 'layouts/navbar' %>
    <main class="">
      <p class="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p>
      <%= yield %>
    </main>
    <%= javascript_include_tag "application", "data-turbo-track": "reload" %>
      <script src="https://maps.googleapis.com/maps/api/js?key=<%= ENV['GOOGLE_MAPS_API_KEY'] %>&callback=initMap" defer></script>
  </body>
</html>